<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to the Dark Souls quiz</h1>
   <p class="col-md-8 fs-4">This quiz contains 15 question. Each question will have 3 options. Pick the correct one.</p> 

<ul>
    <li>15-VaatiVidya</li>
    <li>12-14-Extremely good knowledge</li>
    <li>9-12-Good knowledge</li>
    <li>5-9-Casual</li>
    <li>0-5-Git gud</li>
</ul>
<div class="name col-md-4 my-3">Enter your name:
    <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the quiz</button>
</div>

